//-
	Created by Chrille on 2014-12-20.
-function addCommas(nStr){ nStr += ''; x = nStr.split('.'); x1 = x[0]; x2 = x.length > 1 ? '.' + x[1] : ''; var rgx = /(\d+)(\d{3})/; while (rgx.test(x1)) { x1 = x1.replace(rgx, '$1' + ' ' + '$2'); } return x1 + x2; }

table
	thead
		tr
			th Name
			th Popularity
			th URI
			th Followers
			th Listeners
			th Playcount
	tbody
		tr
			- if(data1.name)
			td= data1.name
			-else
			td= Missing
			-if(data1.popularity)
			td= data1.popularity
			-else
			td= Missing
			td= data1.uri
			td= addCommas(data1.followers.total)
			td= addCommas(data3.artist.stats.listeners)
			td= addCommas(data3.artist.stats.playcount)
		tr
			td= data2.name
			td= data2.popularity
			td= data2.uri
			td= addCommas(data2.followers.total)
			td= addCommas(data4.artist.stats.listeners)
			td= addCommas(data4.artist.stats.playcount)

pre
	code= JSON.stringify(data1, undefined, 2)
pre
	code.u-full-width= JSON.stringify(data2, undefined, 2)
pre
	code= JSON.stringify(data3, undefined, 2)
pre
	code= JSON.stringify(data4, undefined, 2)