//-
	Created by Chrille on 2014-12-20.

table
	thead
		tr
			th Name
			th Popularity
			th URI
	tbody
		tr
			td= data1.name
			td= data1.popularity
			td= data1.uri
table
	thead
		tr
			th Name
			th Popularity
			th URI
	tbody
		tr
			td= data2.name
			td= data2.popularity
			td= data2.uri

p= JSON.stringify(data1)
p= JSON.stringify(data2)
p= othersomething_data
p= data3
p= data4